# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Terraform lock (opcional manter)
# .terraform.lock.hcl

# Sensitive files
*.tfvars
*.tfvars.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
